Repository cse110-sp24-group30/cse110-sp24-group30, pull requests merged in 2024-06, with the labels that each got.

#49 Support edit journal
  journal/journal-app.js
  journal/journal-style.css
Labels: journal

#77 Update calendar functionality
  calendar/calendar-app.js
  calendar/calendar-page.html
  calendar/calendar-style.css
Labels: calendar

#78 [Documentation] Created ADR #5 for Branch-Structure; Reformatted the Dates
  specs/adrs/051024-Database-Choice.md
  specs/adrs/051424-JournalPage.md
  specs/adrs/053024-TrackingIssues.md
  specs/adrs/053124-Formatting.md
  specs/adrs/060224-Branch-Structure.md
Labels: documentation

#79 added UI to the dashboard page
  admin/Branding/110Team30.png
  admin/team.md
  assets/icons/checkFillWhite.png
  assets/icons/dateFillWhite.png
  assets/icons/fileFillWhite.png
  assets/icons/homeFillBlue.png
  assets/images/110Team30.png
  assets/images/blueWaveBackground.jpeg
  assets/styles/main.css
  index.html
  source/index.html
Labels: enhancement, dashboard

#82 Dashboard
  admin/Branding/110Team30.png
  admin/team.md
  assets/icons/checkFillWhite.png
  assets/icons/dateFillWhite.png
  assets/icons/fileFillWhite.png
  assets/icons/homeFillBlue.png
  assets/images/110Team30.png
  assets/images/blueWaveBackground.jpeg
  assets/styles/main.css
  index.html
Labels: dashboard

#86 [Calendar] CSS
  .vscode/settings.json
  calendar/calendar-app.js
  calendar/calendar-page.html
  calendar/calendar-style.css
Labels: calendar

#89 Reorganized file structure
  source/assets/icons/checkFillBlue.png
  source/assets/icons/checkFillWhite.png
  source/assets/icons/dateFillWhite.png
  source/assets/icons/fileFillWhite.png
  source/assets/icons/homeFillBlue.png
  source/assets/icons/homeFillWhite.png
  source/assets/images/110Team30.png
  source/assets/images/blueWaveBackground.jpeg
  source/assets/scripts/main.js
  source/assets/styles/main.css
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
  source/index.html
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
  source/to_do/to-do-app.js
  source/to_do/to-do.css
  source/to_do/to-do.html
  to_do/to-do.html
Labels: enhancement

#73 [Journal] Markdown to Formatted HTML Functionality
  __tests__/journal-add.test.js
  __tests__/journal.test.js
  journal/journal-app.js
  journal/journal-page.html
  journal/journal-style.css
Labels: journal

#90 [ToDo] added edit button functionality along with jsdoc comments
  to_do/to-do-app.js
  to_do/to-do.css
  to_do/to-do.html
Labels: to do list

#92 Mood widget implemented for the latest CSS
  assets/scripts/main.js
  assets/styles/main.css
  source/index.html
Labels: dashboard

#99 Edit/Delete Button HTML/CSS and layout
  assets/icons/editDarkBlue.png
  assets/icons/trashDarkBlue.png
  to_do/to-do-app.js
  to_do/to-do.css
  to_do/to-do.html
Labels: to do list

#94 [Journal] Random Title Generator Feature
  journal/journal-app.js
Labels: journal

#97 [Journal] Search Bar Feature
  journal/journal-app.js
  journal/journal-page.html
Labels: journal

#102 [CI/CD Pipeline] Phase 2 Documentation
  admin/cipipeline/phase2.drawio.png
  admin/cipipeline/phase2.md
Labels: ci/cd pipeline

#101 Calendar tasks changes
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#104 [ToDo] Checking todo functionality
  assets/icons/editDarkBlue.png
  assets/icons/trashDarkBlue.png
  to_do/to-do-app.js
  to_do/to-do.css
  to_do/to-do.html
Labels: to do list

#106 [CI/CD Pipeline] Updated CI/CD Pipeline
  .github/workflows/ci.yml
Labels: ci/cd pipeline

#110 [Journal/Calendar] Sync Journals to Calendar
  journal/journal-app.js
  journal/journal-page.html
  journal/journal-style.css
Labels: journal, calendar

#109 [To-Do] Enhancement of Features + Fixes in CSS and Responsiveness
  source/assets/icons/editDarkBlue.png
  source/assets/icons/trashDarkBlue.png
  source/calendar/calendar-page.html
  source/journal/journal-page.html
  source/to_do/to-do-app.js
  source/to_do/to-do.css
  source/to_do/to-do.html
Labels: to do list

#112 [Journal] Merge current journal branch into main
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
Labels: journal

#107 [Dashboard] made loading screen between pages from dashboard page
  source/assets/scripts/dashboard.js
  source/assets/styles/main.css
  source/index.html
Labels: dashboard

#113 [Calendar] Small calendar fixes
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#118 [To-Do] Made css fixes
  source/to_do/to-do.css
  source/to_do/to-do.html
Labels: to do list

#125 [Documentation] Retrospective
  admin/meetings/sprints/060724-retrospective2.md
Labels: documentation

#126 Update Journal UI
  source/assets/icons/addFillDarkBlue.png
  source/assets/icons/fileFillBlue.png
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
Labels: journal

#120 Day view fixes and functionality
  source/assets/icons/calendarDeleteBlue.png
  source/assets/icons/calendarEditBlue.png
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#123 Loading screen between pages
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
  source/login/login.css
  source/login/login.html
  source/login/login.js
  source/to_do/to-do-app.js
  source/to_do/to-do.css
  source/to_do/to-do.html
Labels: enhancement

#129 [Calendar] Improved Search Functionality, added an Add Task button to day view, and made several minor improvements
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#132 [Journal] Merge latest changes to main
  source/journal/journal-app.js
  source/journal/journal-style.css
Labels: journal

#134 [Journal] Hotfix that re-adds missing functions
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
Labels: journal

#127 [CI/CD Pipeline] Fixed jsdocs to now work
  .github/workflows/ci.yml
  config/jsdoc.json
  config/package.json
  source/index.html
  source/journal/journal-page.html
  source/to_do/to-do.html
Labels: ci/cd pipeline

#139 Fixes the issue of no loading screen when leaving the journal page
  source/journal/journal-app.js
Labels: dashboard

#138 [Todo] fixed loading screen issue, added basic tests for todo
  __tests__/todo.test.js
  source/to_do/to-do.html
Labels: to do list

#140 [Dashboard] Merge journal loading screen fix to main
  source/journal/journal-app.js
Labels: dashboard

#141 [Journal] Add Alert Animations for Buttons
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
  source/journal/sw2.css
Labels: journal

#128 [login] created login page
  source/assets/icons/viewFill.png
  source/assets/icons/viewHideFill.png
  source/assets/scripts/main.js
  source/calendar/calendar-page.html
  source/journal/journal-page.html
  source/login/config.json
  source/login/login.css
  source/login/login.html
  source/login/login.js
  source/to_do/to-do.html
Labels: dashboard

#143 [Login] update protected URL
  source/login/login.js
Labels: dashboard

#144 Fixed Calendar by Reverting Changes
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#151 [Login] Add feature to allow user to logout on all the different pages
  source/assets/scripts/dashboard.js
  source/assets/styles/main.css
  source/calendar/calendar-page.html
  source/dashboard/dashboard.js
  source/index.html
  source/journal/journal-page.html
  source/journal/journal-style.css
  source/login/logout.js
  source/to_do/to-do.css
  source/to_do/to-do.html
Labels: dashboard, journal, to do list, calendar, login

#148 [Calendar] deletes a task from todo list if deleted in calendar
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
Labels: calendar

#149 [Dashboard] CSS update + Responsiveness
  source/assets/scripts/dashboard.js
  source/assets/styles/main.css
  source/index.html
  source/to_do/to-do.css
Labels: dashboard

#150 [Journal] Make NavBar UI look more consistent to other pages
  source/journal/journal-app.js
  source/journal/journal-page.html
  source/journal/journal-style.css
Labels: journal

#152 [Calendar] Added more UI changes to the calendar page
  source/assets/icons/dateFillBlue.png
  source/assets/styles/main.css
  source/calendar/calendar-app.js
  source/calendar/calendar-page.html
  source/calendar/calendar-style.css
Labels: calendar

#155 [Journal] Change scrollbar to auto CSS
  source/journal/journal-style.css
Labels: journal
