Repository cse110-sp24-group30/cse110-sp24-group30, pull requests merged in 2024-05, with the labels that each got.

#37 [Journal] Support Add Journal
  index.html
  journal/journal-app.js
  journal/journal-page.html
  journal/journal-style.css
Labels: journal

#56 Journal unit testing
  __tests__/journal-add.test.js
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
Labels: journal

#58 [CI/CD] Configure pipeline to deploy to GitHub Pages
  .github/workflows/ci.yml
Labels: ci/cd pipeline

#62 ADR #3: Tracking Issues Platform Change
  specs/adrs/053024-TrackingIssues.md
Labels: documentation
